@model moment3dotnet.Models.BookModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>

<h3>Ändra du säker på att du vill radera boken?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Författare
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            Läst?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index" class="link-success">Tillbaka till boklistan</a>
    </form>
</div>
