@model moment3dotnet.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Om boken</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Författare
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            Läst?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="link-success">Ändra</a> |
    <a asp-action="Index" class="link-success">Tillbaka till boklistan</a>
</div>
