@model IEnumerable<moment3dotnet.Models.GenreModel>

@{
    ViewData["Title"] = "Index"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Genres</h1>
<p>
    <a asp-action="Create">Lägg till genre</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Välj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-area="" asp-controller="Book" asp-action="Index">Tillbaka till boklistan</a>
</body>
</html>
